/*TaskInput Component CSS  */
.input-container {
	display: flex;
	gap: 1em;
	min-width: 30rem;
	margin-left: 0.75rem;
	margin-bottom: 12px;
}

.input-field {
	min-width: 20rem;
	padding: 12px 16px;
	border-radius: 4px;
	border-width: 1px;
	line-height: 1.25;
	color: #374151;
	background: #e4e4e6;
	appearance: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.btn,
.edit-btn {
	padding: 12px 24px;
	border-radius: 4px;
	font-weight: 700;
	color: #ffffff;
}
.btn {
	background-color: #3b82f6;
}
.btn:hover {
	cursor: pointer;
	background-color: #1d4ed8;
}

.edit-btn {
	background-color: orange;
}

.edit-btn:hover {
	cursor: pointer;
	background-color: #d58e09;
}

@media only screen and (max-width: 700px) {
	.input-container {
		min-width: 25rem;
	}
	.input-field {
		min-width: 15rem;
	}
}
@media only screen and (max-width: 500px) {
	.input-container {
		min-width: 20rem;
	}
	.input-field {
		min-width: 10rem;
	}
}
